/* advanced_search style */

/*
On the Google Advanced Search page, the user should be able to provide input for the following four fields (taken from Google’s own advanced search options)
Find pages with… “all these words:”
Find pages with… “this exact word or phrase:”
Find pages with… “any of these words:”
Find pages with… “none of these words:”

Like Google’s own Advanced Search page, the four options should be stacked vertically, and all of the text fields should be left aligned.
Consistent with Google’s own CSS, the “Advanced Search” button should be blue with white text.
When the “Advanced Search” button is clicked, the user should be taken to the search results page for their given query.
Add an “I’m Feeling Lucky” button to the main Google Search page. Consistent with Google’s own behavior, clicking this link should take users directly to the first Google search result for the query, bypassing the normal results page.
You may encounter a redirect notice when using the “I’m Feeling Lucky” button. Not to worry! This is an expected consequence of a security feature implemented by Google.
*/

/* universal selectors */
@media (max-width: 1056px){
    .text-label-2, div .pre-format, #included-exception{
        display: none !important;
    }
}

.text-outline
{
    min-width: 167px;
    width:16%;
    float: left;
    display: inline-block;
    font-family: "arial";
    font-size: 16px;
    color: #333;
    height: 30px;
    line-height: 16px;
    vertical-align: middle;
}

.thirteen-font-size
{
    font-size: 13px;
    font-family: arial;
}

/*header part */

#advanced-search-text {
    color: #d93025;
    font-size: 20px;
    font-family: "Arial";
}

#footer-margin {
    line-height: 18px;
}

div {
    display: block;
}

#line_for_head {
    border-bottom: 1px solid #ebebeb;
    width: 99%;
    padding: 25px 35px;
}



/*body part */
.div-text-label 
{
    height: 30px;
    display: table-cell;
    vertical-align: middle;
}

.pre-format {
    margin: 0;
    font-family: monospace;
    white-space: pre;
    color: #666;
    font-size: 11px;
}

.text-label {
    width:16%;
    float: left;
    display: inline-block;
    min-width: 167px;
    height: 42px;
    color: #222;
    font-size: 13px;
    line-height: 16px;
    vertical-align: middle;
}

#line-for-body {
    margin: 18px 0;
    clear: both;
    border-top: 1px solid #ebebeb;
}

.text-label-2 
{
    float: left;
    display: inline-block;
    width: 32%;
    min-width: 160px;
    margin: 0 0 8px 1%;
    color: #555;
    font-size: 11px;
    padding-left: 5px;
    vertical-align: middle;
    position: relative;
}


#find-pages-div div {
    height: 30px;
    display: table-cell;
    vertical-align: middle;
}

#body_cover {
    padding: 25px 35px;
}

.text-input {
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
}

.actual-text-input {
    float: left;
    display: inline-block;
    min-width: 167px;
    min-height: 41px;
    vertical-align: middle;
    width: 50%;
}

.actual-text-input-2 {
    float: left;
    display: inline-block;
    min-width: 167px;
    min-height: 41px;
    vertical-align: middle;
    width: 50%;
}

.actual-actual-text-input
{
    width: 100%;
    text-align: left; 
}

/* footer part */

#not-a-footer div a:hover
{
    text-decoration: underline;
    /*none*/
}
#not-a-footer div a
{
    font-family: "Arial";
    font-size: 13px;
    /*none*/
}

a
{
    text-decoration: none;
}

#an-actual-footer
{
    padding: 0 4em;
    line-height: 40px;
    width: 100%;
    background-color: #f2f2f2;
    bottom: 0;
    margin-left: -2.5em;
    margin-bottom: -1em;
    display: block;
}

#an-actual-footer a
{
    color: #70757a;
    font-family: "Arial";
    padding-left: 27px;
    font-size: 14px;
}